@import url('https://fonts.googleapis.com/css2?family=Georama:wght@400&display=swap');

.aboutusContainer > ul > li{
    border-left: 0.2em solid #0000001a !important;
    padding-left: 0.4em;
    font-size: 16px;
    padding: 0.6em 0.4em;
}

*{
    scroll-behavior: smooth;
}

.aboutusContainer > ul > li > a{
    color: black;
    text-decoration: none;
}

.aboutusContainer > ul > li:hover{
    border-left: 0.2em solid #222455 !important;
    cursor: pointer;
}

h3{
    padding-bottom: 1em;
}

h1{
    font-size: 40px;
    padding-bottom: 1em;
}

h2{
    padding: 1em 0;
    font-size: 24px;
}

h1, h2, h3, p{
    background: linear-gradient(
        to bottom, #003741, #222455);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.aboutusContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5em;
    background-color: white !important;
    padding: 0 10em;
}

.aboutusContainer > ul{
    list-style-type: none;
    width: 150%;
}

.aboutusContainer > article{
    max-height: 90vh;
    overflow-y: scroll;
    padding: 1em;
}

.aboutusContainer > article > article{
    margin: 3em 0;
}

@media only screen and (max-width: 1500px) {
    .aboutusContainer{
        flex-direction: column;
        padding: 2em 1em;
        gap: 0em;
    }

    .aboutusContainer > ul{
        width: 100%;
    }

    h1{
        display: none;
    }

    .aboutusContainer > article{
        max-height: none;
        overflow-y: scroll;
        padding: 1em;
    }
}