h1 {
    margin: 1rem;
}

.table-wrapper {
    margin: 1rem;
    width: 100;
}

table {
    padding: 1rem;
    border-radius: 20px;
    background-color: #22245556;
    resize: horizontal;
    width: 100%;
}
thead{
    width: 100%;
}
th {
    color: white;
    padding: 10px;
}



tbody {
    width: 100%;
}

tr{
    width: 60vw;
    height: fit-content;
}

td {
    width: 100%;
}
  
.input-field {
    padding: 1rem;
    width: 100%;
    resize: horizontal;
}
  
  
.advice-input-field {
    /* min-width: 150px;
    max-width: 450px; */
    width: 60vw;
}

.save-btn {
    justify-content: center;
    margin: 1rem;
    padding: 0.5rem 1rem;
    background-color: #448300;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-btn:hover {
    background-color: #448300a7;
    transition: 0.2s all;
}

.gencode-buttons {
    margin: 1rem;
}

.gencode-buttons button {
    margin: 10px;
    padding: 10px;
}

.gencode-buttons button.active {
    background-color: #222455;
    border: none;
    color: white;
}

.delete-btn {
    padding: 1rem;
    justify-content: flex-end;
    border: none;
    border-radius: 10px;
    background-color: rgb(214, 7, 7);
    color: white;
}

.delete-btn:hover {
    background-color: rgba(214, 7, 7, 0.716);
    transition: 0.2s all;
}

@media (max-width: 768px) {
    table {
      font-size: 0.8rem;
    }

    .table-wrapper{
        margin-left: auto;
        margin-right: auto;
    }

    td{
        height:max-content;
    }
    /* .delete-btn {
        padding: 0.5rem;
        justify-content: flex-end;
        border: none;
        border-radius: 10px;
        background-color: rgb(214, 7, 7);
        color: white;
        font-size: 12px;
    } */
}