.column-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 6px;

  /* min-height: fit-content; */
  min-height: calc(100vh - 72px);
}

.kolom {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(0deg, #eef2ff, #eef2ff),
    linear-gradient(0deg, #ffffff, #ffffff), #e7edff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin-top: 2px;
  margin-bottom: 2px;
  gap: 16px;

  min-width: 184px;
  width: auto;
  border-radius: 4px;
  border: 3px solid #222455;
}

.advice-kolom {
  flex-grow: 1;
  /* flex-shrink: 1; */
}

.kolom-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  gap: 12px;

  border: 2.5px solid #222455;
  border-radius: 0px 18px 18px 0px;

  width: 100%;
  min-height: 54px;

  font-size: 16px;
  color: #222455;

  transition: ease all 200ms;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(0deg, #eef2ff, #eef2ff);
}

button.kolom-item:hover {
  color: #f8f8fb;

  background: #3b3d86;
  box-shadow: 2px 4px 4px lightgray;

  transition: ease all 200ms;
}

button.collapsed:hover,
button.expand:hover {
  color: black;
  background-color: #b3b4ef;
}

.kolom-item p {
  font-weight: 460;
  line-height: 140%;
}

.kolom-item h3 {
  font-weight: 400;
}

.collapsed p {
  display: none;
}

.selected-item {
  color: #f8f8fb;
  background: #222455;
  border: 2px solid #f8f8fb;
  border-radius: 0px 18px 18px 0px;
  box-shadow: 2px 4px 4px lightgray;
}

.expand {
  color: black;
  background: #c8c9f5;
}

#search-wrapper {
  width: 100%;
  text-align: center;
}

.searchbar-input {
  width: 100%;
  /* font-size: 24px; */

  color: #f8f8fb;
  border: 2px solid #f8f8fb;
  border-radius: 0px 18px 18px 0px;
  background: #3b3d86;
  box-shadow: 2px 4px 4px rgba(52, 38, 88, 0.611);
}

.thin-bar {
  font-size: 20px;
  line-height: 120%;
}

.thick-bar {
  font-size: 24px;
  line-height: 190%;
}

.vertical {
  width: 100%;
}

.advices-container > article {
  width: 100%;
}

.advices-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

@media only screen and (max-width: 830px) {
  .advices-container {
    width: 100%;
  }

  .column-container {
    flex-direction: column;
  }

  .kolom {
    flex-direction: row;
    overflow-x: scroll;
  }

  .advice-kolom {
    flex-direction: column;
    width: 100%;
  }
}
